/* .round-slider-container{
    width: 82px;
    height: 29px;
    background: crimson;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.round-slider{
    width: 25px;
    height: 22px;
    border-radius: 50%;
    background: #fff;
    top:3px;
    left:8px;
    position: absolute;
}

#checkbox-input:checked + .round-slider-container .round-slider{
  transform: translateX(40px);
}
input{
    display: none;
} */

.togglebtn{
    margin: 8px;
}
.switch{
    position: relative;
    display:inline-block;
    width:60px;
    height:34px;
}
    
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}


.slider{
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    cursor:pointer;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:red;
    border-radius: 50px;
}

.slider:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50px;
    background-color:white ;
    transition: 0.4s;
}
    
input:checked + .slider:before{
    /* for button transition */
    transform: translateX(26px);
  }


input:checked + .slider{
    /* for background color transition */
    background-color:#1ABC9C;
    transition: 0.4s;
}